.center_div{
    margin: 10px auto;
    width:80% /* value of your choice which suits your alignment */
}
body {
    background-color: rgb(38 39 45) !important;
    color: #fff !important;
}
exit_price {
    color: rgb(240, 185, 11) !important;
}
displayer {
    border-radius: 10px !important;
}